{% extends "base.html" %}
{% block head %}
    <title>My piccy christ</title>
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='css/list.less') }}">
{% endblock %}
{% block content %}
    <div class="col-sm-12">
        {% for image in collection %}
            <div class="col-sm-4 picture_container">
                <img id="{{ image._id }}" src="{{ image.source }}" alt="{{ image.name }}">
                <p>{{ image.name }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}